---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Recipes" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="category" title="Top Categories" btn-color="primary" %}

    {% include index/featured-terms.html field="source" title="Sources" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>

</div>
